*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
keystore.jks
*.apk
app/build/*
app/.cxx
.project
.settings/
app/.project
app/.settings/
app/.classpath
app/src/main/AndroidManifest.xml
sentry.properties
