<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vu.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
        tools:overrideLibrary="io.sentry.android"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="io.sentry.dsn"
            android:value="https://3d2ac63d6e1a4c6e9214443678f119a3@sentry.io/1801383"/>
        <meta-data android:name="io.sentry.debug" android:value="true" />
        <meta-data android:name="io.sentry.auto-init" android:value="false" />
        <meta-data android:name="io.sentry.anr.timeout-interval-mills" android:value="2000" />

<!--    <meta-data android:name="io.sentry.ndk.enable" android:value="false" />
        <meta-data android:name="io.sentry.anr.enable" android:value="false" />
-->

    </application>

</manifest>
