<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vu.android">

    <uses-sdk tools:overrideLibrary="io.sentry.android" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity android:name=".MainActivity" android:parentActivityName=".empowerplant.EmpowerPlantActivity"
            android:label="List App">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".empowerplant.EmpowerPlantActivity" />
        </activity>
        <activity
            android:exported="true"
            android:name=".empowerplant.EmpowerPlantActivity"
            android:label="@string/title_activity_empowerplant"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://6de4ac3993f24074820d83751794ca39@o87286.ingest.sentry.io/1801383" />
        <meta-data
            android:name="io.sentry.debug"
            android:value="true" />
        <meta-data
            android:name="io.sentry.ndk.scope-sync.enable"
            android:value="true" />
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />
        <meta-data android:name="io.sentry.traces.activity.auto-finish.enable" android:value="false" />

        <!-- This line not needed any more, because now we have a safe guard, waiting for the Operating System to raise an ANR in the processor, it waits 5seconds. Lowering this number just makes it to check the state of the processor more times. -->
        <!-- lowering this number below 5000ms overrides the 5000ms, we check the state of the processor faster. doesn't mean we're detecting more ANR's or not -->
        <!-- Default is 5seconds (is from the OperatingSystem, to define the state of Not Responding) and defined by the SDK -->
        <!-- we can check the state of the property ourselves, using this -->
        <!-- <meta-data android:name="io.sentry.anr.timeout-interval-mills" android:value="3000" /> -->

        <!-- Easy way to get a new release if you're testing, to separate from past releases with lots of crashes/sessions. overrides what's in app/build.gradle -->
        <!-- <meta-data android:name="io.sentry.release" android:value="io.sentry.sample@1.0.0+1" /> -->

        <!-- default interval for testing a session is 30seconds. Session starts when they open app. Session ends when user leaves app and it's idle for 30 seconds -->
        <meta-data
            android:name="io.sentry.session-tracking.timeout-interval-millis"
            android:value="3000" />
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0" />
        <meta-data
            android:name="io.sentry.traces.profiling.enable"
            android:value="true" />
        <meta-data
            android:name="io.sentry.traces.profiling.sample-rate"
            android:value="1.0" />
        <meta-data
            android:name="empowerplant.domain"
            android:value="https://application-monitoring-flask-dot-sales-engineering-sf.appspot.com" />

    </application>

</manifest>
