<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vu.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
        tools:overrideLibrary="io.sentry.android"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:extractNativeLibs="true"
        >
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="io.sentry.auto-init" android:value="false" />
        <meta-data android:name="io.sentry.dsn"
            android:value="https://3d2ac63d6e1a4c6e9214443678f119a3@o87286.ingest.sentry.io/1801383"/>
        <!-- these are enabled by default, these are optional for us to disable the feature -->
        <!--    <meta-data android:name="io.sentry.ndk.enable" android:value="false" />
                <meta-data android:name="io.sentry.anr.enable" android:value="false" />

            This line not needed any more, because now we have a safe guard, waiting for the Operating System to raise an ANR in the processor, it waits 5seconds. Lowering this number just makes it to check the state of the processor more times.-->
<!--        lowering this number below 5000ms overrides the 5000ms, we check the state of the processor faster. doesn't mean we're detecing more ANR's or not-->

        <!-- Default is 5seconds (is from the OperatinSystem, to define the state of Not Responding) and defined by the SDK-->
        <!--we can check the state of the property ourselves, using this-->
        <!-- <meta-data android:name="io.sentry.anr.timeout-interval-mills" android:value="3000" />-->

        <!-- Easy way to get a new release if you're testing, to separate from past releases with lots of crashes/sessions. overrides what's in app/build.gradle -->
         <meta-data android:name="io.sentry.release" android:value="40.0.0" />

        <!-- default interval for testing a session is 30seconds. Session starts when they open app. Session ends when user leaves app and it's idle for 30 seconds -->
        <meta-data android:name="io.sentry.session-tracking.timeout-interval-millis" android:value="3000" />

        <!-- Enables automatic session tracking. Disabled by default-->
         <meta-data android:name="io.sentry.session-tracking.enable" android:value="true" />

    </application>

</manifest>
